@import url("https://cdn.jsdelivr.net/npm/reveal.js@3.6.0/css/theme/simple.css");

.reveal h1 {
  font-size: 2em;
}

.reveal blockquote {
  background: none;
  border: none;
  box-shadow: none;
  font-style: normal;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal section img:hover {
  border: none;
  box-shadow: none;
}

.rendered_html pre {
  box-shadow: none;
}

.input_prompt {
  display: none;
}
